div(layout-align="center start",layout="row" style="height:100%")
  md-content(flex="100" style="height:100%; overflow: hidden")
    div(layout="column", ng-cloak="" style="height:100%")
      md-toolbar.md-whiteframe-4dp
        .md-toolbar-tools(style="height:64px;max-height:64px")
          md-button.md-fab.md-primary(id="group-btn" aria-label="Group" ng-click = "obj.showGroupList()" hide-gt-sm = '' ng-if="searchOn == false")
            ng-md-icon(icon="list" style="fill: #abcdef")
          md-button.md-fab.md-primary(aria-label="search" ng-click = "searchSwitch()" ng-if="searchOn == false")
            ng-md-icon(icon="search" style="fill: #abcdef")
          md-button.md-fab.md-primary(aria-label="searchExit" ng-click = "searchSwitch()"  ng-if="searchOn == true" )
            ng-md-icon(icon="arrow_back" style="fill: #abcdef")
          md-button.btn5( arid-label= "ownStatus" md-colors="{background: '{{currentUser.currentStatusColor}}'}" ng-click="showStatus()")
            ng-md-icon(icon="person")
            {{currentUser['name']}}
          span(flex="")
          md-button.md-fab.md-primary(aria-label="Member" ng-click = "obj.showUserList()", hide-gt-sm='' ng-if="searchOn == false")
            ng-md-icon(icon="people" style="fill: #abcdef")
          md-fab-speed-dial.md-scale(md-open='false', md-direction='down',style="margin-top:120px")
            md-fab-trigger
              md-button.md-fab.md-primary(aria-label='menu', ng-click="changeMenuStatus()")
                ng-md-icon(icon="menu" style="fill: #abcdef")
            md-fab-actions
              md-button.md-fab.md-mini(style= "background-color:rgb(63,81,181)" aria-label="Bulletin" ng-click = "openBulletin()")
                ng-md-icon(icon="person_pin_circle" style="fill: #abcdef")
              md-button.md-fab.md-mini(style= "background-color:rgb(63,81,181)" aria-label="incident" ng-click = "addIncident()")
                ng-md-icon(icon="message" style="fill: #abcdef")
              md-button.md-fab.md-mini(style= "background-color:rgb(63,81,181)" aria-label="Exit" ng-click = "logOut()")
                ng-md-icon(icon="exit_to_app" style="fill: #abcdef")
      div(style="height:100%" layout = "row")
        md-card(style="height:90%")
          group-list(ng-controller="groupListCtrl" style="height:100%")
        md-card.md-whiteframe-2dp(style="height:90%" flex = '' )
          search(style="height:100%" ng-controller="searchCtrl" flex = '' ng-if="searchOn == true")
          bulletin(style="height:100%" flex = '' ng-if="bulletinOn == true")
          div(ng-controller="chatWallCtrl" flex = '' style="height:100%" layout = "row" ng-if="searchOn == false && bulletinOn == false")
            chat-wall( style="height:100%" flex = '' ng-if="viewType() == 2")
            announcement( style="height:100%" flex = '' ng-if="viewType() == 0")
            showincident( style="height:100%" flex = '' ng-if="viewType() == 1")
            incident(style="height:100%" flex='' ng-if='viewType() == 3')

        md-card(style="height:90%")
          user-list(ng-controller='userListCtrl' style="height:100%")

